<!--
    시작 화면
-->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta charset=utf-8>
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

        <title>실시간 지하철 정보 조회</title>

        <style>
            /* * {
                font-family: 'Nanum Gothic Coding', monospace;
            } */
            .wrap {
                margin : 100px auto auto auto;
                width : 800px;
            }

            .h {
                font-family: 'Black Han Sans', sans-serif;
            }

            .mytable {
                margin: 10px auto 10px auto;
                padding: 30px;
                width: 300px;
            }

            .mybtn {
                margin-bottom: 10px;
            }
        </style>

        <script>

          function myposting(response) {
            $('#mylst').empty()
					$.ajax({
                type: "GET",
                url: '/start-record/',
                data: {},
                success: function(response) {
                    for (i=0; i<response.length; i++) {
                        let train_num = response[i][0]
                        let destination = response[i][1]
                        let fast = response[i][2]
                        let howfar = response[i][3]
                        let howwhere = response[i][4]
                        let status = response[i][5]

                        let temp_html = `<tr>
                                            <td>${train_num}</td>
                                            <td>${destination}</td>
                                            <td>${fast}</td>
                                            <td>${howfar}</td>
                                            <td>${howwhere}</td>
                                            <td>${status}</td>
                                        </tr>`

                        $('#mylst').append(temp_html)
                    }
                    }
                })
            }

            function mygara(response) {
                $('#mylst').empty()
                        $.ajax({
                    type: "GET",
                    url: '/start-gara/',
                    data: {},
                    success: function(response) {
                        for (i=0; i<response.length; i++) {
                            let train_num = response[i][0]
                            let destination = response[i][1]
                            let fast = response[i][2]
                            let howfar = response[i][3]
                            let howwhere = response[i][4]
                            let status = response[i][5]

                            let temp_html = `<tr>
                                                <td>${train_num}</td>
                                                <td>${destination}</td>
                                                <td>${fast}</td>
                                                <td>${howfar}</td>
                                                <td>${howwhere}</td>
                                                <td>${status}</td>
                                            </tr>`

                            $('#mylst').append(temp_html)
                        }
                        }
                    })
            }


        </script>
        

    </head>
    <body>

        <div class = "wrap text-center">
            <figure class="text-center">
                <blockquote class="blockquote">
                  <h1>1호선 실시간 위치 조회 서비스</h1>
                </blockquote>
                <br>
                <blockquote class="blockquote">
                    <h5>음성으로 1호선 역별 실시간 도착 정보를 안내받을 수 있습니다.</h5>
                    <h5>아래 '등록' 버튼을 누른 후 버튼 색깔이 빨간 색으로 바뀌면 말하세요.</h5>
                </blockquote>
            </figure>

            <!-- <div class = "mytable"> -->
            <table class="mytable table-light text-center">
                <thead>
                    <tr>
                        <th scope="col">최근 조회 목록</th>
                    </tr>
                </thead>
                <tbody>
                    {% if question_list %}

                    {% for question in question_list %}

                        <tr class="table-primary">
                            <td>{{ question.input }}</td>
                        
                    {% endfor %}
                    {% else %}
                        <tr class="table-primary">
                            <td>조회 기록이 없습니다.</td>
                    {% endif %}

                </tbody>
            </table>
                
            <button id="naebtn" onclick="myposting()" class="btn mybtn btn-success" type="button">등록</button>

            <button id="naebtn2" onclick="mygara()" class="btn mybtn btn-outline-secondary" type="button">임의</button>

            <div class="table-responsive">
                <table class="table align-middle text-center">
                    <thead>
                    <tr>
                        <th scope="col" class="w-20">열차번호</th>
                        <th scope="col" class="w-20">행선지</th>
                        <th scope="col" class="w-20">급행여부</th>
                        <th scope="col" class="w-20">몇개 역 전</th>
                        <th scope="col" class="w-20">현위치</th>
                        <th scope="col" class="w-20">열차 상태</th>
                    </tr>
                    </thead>
                    <tbody id="mylst">

                    </tbody>
                </table>
            </div>
        </div>

    </body>